http://localhost {
	redir https://localhost{uri}
}

https://localhost {
	tls internal

	@api path /api/*
	handle @api {
		reverse_proxy backend-primary:8000 backend-secondary:8000 {
			lb_policy random_choose 2
			health_uri /api/health
			health_interval 5s
		}
	}

	@docs path /docs*
	handle @docs {
		reverse_proxy backend-primary:8000 backend-secondary:8000 {
			lb_policy random_choose 2
			health_uri /api/health
			health_interval 5s
		}
	}

	handle {
		reverse_proxy web:80
	}
}
