http://localhost {
  redir https://localhost{uri} permanent
}

https://localhost {
  tls internal
  encode gzip zstd

  @backend path /api/* /docs* /error
  handle @backend {
    reverse_proxy server:8000
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}
